:root {
  --font-size-h1: 4rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 2rem;
  --font-size-normal: 1.6rem;
  --color-white: #fff;
  --color-light-grey: #999;
  --color-dark-grey: #333;
  --color-black: #37352f;
  --color-blue: #337ea9;
  --color-green: #478563;
}

html {
  font-size: 62.5%;
  --background-color: var(--color-white);
  --text-color: var(--color-black);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-normal);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

/* Composition */


@media screen and (min-width: 426px) {
  .row {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .row .subsection__title,
  .row .section__title {
    flex: 0 0 35%;
    margin-right: 0.5rem;
    margin-top: 0rem;
  }

  .row .section__list {
    flex: 0 0 65%;
  }
}

@media (min-width: 768px) {
  .row .subsection__title,
  .row .section__title {
    flex: 0 0 25%;
  }
}


/* Utility */


.quote {
  position: relative;
  padding-left: 1em;
  max-width: 75ch;
}

.quote::before {
  content: "";
  position: absolute;
  width: 2.5px;
  height: 100%;
  left: 0;
  background: var(--text-color);
}

/* Block */

/* Cover */

.cover {
  width: 100%;
  height: 30vh;
  position: relative;
}

.cover img {
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: opacity 200ms ease-in-out;
}

@media screen and (min-width: 426px) {
  .cover {
    height: 35vh;
    max-height: 40rem;
  }
}

@media screen and (max-height: 425px) {
  .cover {
    min-height: 20rem ;
  }
}

/* Self Photo */

.self-pic {
  position: absolute;
  width: 10rem;
  left: 12vw;
  top: min(22vh, 40rem);
}

.self-pic img {
  border-radius: 10px;
}

@media screen and (min-width: 426px) {
  .self-pic {
    width: 12rem;
  }
}

@media screen and (min-width: 768px) {
  .self-pic {
    width: 15rem;
    max-width: 20rem;
    left: 25%;
    top: 25vh;
  }
}

/* Main */

.main {
  padding: 5vw 12vw;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 5vw;
    padding-left: 25%;
  }
}

/* Article */

.article {
  position: relative;
  margin: 5rem 0;
}

.article__title {
  font-size: var(--font-size-h2);
  color: var(--color-blue);
}

.article__list {
  padding-left: 0.5rem;
  list-style: none;
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
}


.article:not(:last-child)::after {
  --width: 70%;
  display: inline-block;
  position: absolute;
  content: "";
  width: var(--width);
  right: calc(var(--width) / 4);
  margin-top: 1.5rem;
  height: 1px;
  background-color: var(--color-light-grey);
}

/* Section */

.section__title {
  font-size: var(--font-size-h3);
}

.section__list {
  padding-left: 2rem;
}

.article__list > li {
  margin: 1rem 0;
}

/* Subsection */

.subsection__title {
  font-size: var(--font-size-h4);
}

@media screen and (min-width: 426px) {
  .subsection__desc {
    flex: 0 0 65%;
    max-width: 75ch;
    text-overflow: ellipsis;
  }
}


/* Skill */

.section--skill .section__list {
  padding: 0 0 0 2rem;
  display: grid;
  grid-template: repeat(3, 3.5rem) / repeat(3, 40%);
  grid-auto-flow: column;
}

.skill__item::after {
  content: "⭐";
  display: block;
  text-align: start;
  font-size: .5em;
}


@media screen and (min-width: 426px) {

  .section--skill .section__list {
    grid-template-columns: repeat(3, 33%);
  }
}


/* My Name */

.my-name {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

/* FontAwesome */

.fa {
  width: 2rem;
  padding-left: 0;
}

/* Link */

.link {
  text-decoration: none;
  white-space: nowrap;
  color: #999;
}

/* Green */

.green-text {
  color: var(--color-green);
}

/* Caption */

.caption {
  color: var(--color-light-grey);
  font-style: italic;
}

/* Date */

.date {
  white-space: nowrap;
}

/* Dark Toggle Button */

#toggle-dark-mode {
  --toggle-size: 5rem;
  position: fixed;
  bottom: calc(var(--toggle-size)/2);
  right: calc(var(--toggle-size)/2);
  display: grid;
  place-content: center;
  background: var(--background-color);
  width: var(--toggle-size);
  height: var(--toggle-size);
  font-size: calc(var(--toggle-size)/1.5);
  border-radius: 50%;
  color: gold;
  transition: backgorund-color 400ms ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.toggle-moon {
  height: var(--toggle-size);
  width: var(--toggle-size);
  display: grid;
  place-content: center;
  border-radius: 50%;
  overflow: hidden;
  background: var(--text-color);
}

.toggle-moon.active {
  animation: blink 400ms ease-in-out;
}


@keyframes blink {
  50% {
    height: 0;
  }
}


/* Exception */

.skill__item[data-state='5-star']::after {
  content: "⭐⭐⭐⭐⭐";
}

.skill__item[data-state='4-star']::after {
  content: "⭐⭐⭐⭐";
}

.skill__item[data-state='3-star']::after {
  content: "⭐⭐⭐";
}

.skill__item[data-state='2-star']::after {
  content: "⭐⭐";
}

.skill__item[data-state='1-star']::after {
  content: "⭐";
}
